/* Font */
h1{
    font-family: "Dancing Script", serif;
    font-size: 3rem;
}

h2{
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
}

section{
    font-family: Arial, Helvetica, sans-serif
}