
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20vh;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

footer ul li{
    margin: auto 1rem;
}

footer ul a{
    text-decoration: none;
    color: auto;
    transition: .3s;
}

footer ul a:hover{
    text-decoration: none;
    color: var(--link-hover);
    text-decoration: underline;
}

