header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-box{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

navbar{
    display: flex;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    padding-right: 2rem;
}

navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

navbar ul a{
    text-decoration: none;
    margin: auto .5rem;
    color: auto;
    transition: .3s;
}

navbar ul a:hover{
    text-decoration: none;
    margin: auto .5rem;
    color: var(--link-hover);
    text-decoration: underline;
}

#logout-form input[type="submit"]{
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0 .3rem;
}

#logout-form input[type="submit"]:hover{
    text-decoration: underline;
}