.display-messages-box{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: .5s;
}

.error-message-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    text-align: center;
    border-radius: .4rem;
    border: 1px solid var(--error-message-border-color);
    background-color: var(--error-message-bg-color);
    color: var(--error-message-text-color);
    padding: 1rem;
}

.success-message-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    text-align: center;
    border-radius: .4rem;
    border: 1px solid var(--success-message-border-color);
    background-color: var(--success-message-bg-color);
    color: var(--success-message-text-color);
    padding: 1rem;
}