/* Contact - responsive mobiles */
@media only screen and (max-width:480px){

    .section-contact{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        padding: .7rem;
    }
    .section-contact div{
        grid-column: 1;
    }

}


/* Responsive Footer */
@media screen and (max-width:480px){
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    footer .footer-links-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin: 0 auto;
    }
    
    footer .footer-links-list li{
        margin: .3rem auto;
        text-align: center;
        width: 100%;
    }
    
    footer ul a{
        text-decoration: none;
        color: auto;
        transition: .3s;
    }
}

/* Responsive form */
@media only screen and (max-width:480px){
    #upload-images-form, #login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 70%;
        min-height: 60vh;
        margin: 0 auto;
    }
}

/* Responsive Gallery Manager */
@media only screen and (max-width:480px){
    #gallery-manager-table{
        width: 96%;
        height: auto;
    }
    
}


/*  Responsive Gallery */
@media only screen and (max-width:480px){
    .gallery-container{
        background-color: var(--gallery-container);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr)); /* Colonne flessibili */
        gap: 5px; /* Spaziatura tra le immagini */
        width: 96%;
        padding: 10px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
        margin: 1rem auto;
    }

    .lightbox .lightbox-image{
        max-width: 90%;
        max-height: 80vh;
        cursor: auto;
    }
}

/* Responsive Header - Mobile */
@media only screen and (max-width: 480px){
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 10rem;
        margin: 0 auto;
    }

    /* active classes for navbar and header (toggle menu) */
    .fixed-header{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background: #fff;
    }

    .show-navbar{
        display: flex;        
    }

    .rotate-spans{
        rotate: 90deg;
        transition: .5s;
    }

    .title-box{
        display: flex;
        flex-direction: column;
        padding-left: .7rem;
    }

    .toggle-navbar-box{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        padding: 0;
        margin-right: 1rem;
        cursor: pointer;
        transition: .5s;
    }

    .toggle-navbar-box .toggle-menu-span{
        height: .3rem;
        width: 80%;
        background: #000;
        border-radius: .5rem;
        margin: .1rem;
        transition: .5s;
    }

    navbar{
        position: absolute;
        top: 10rem;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        padding: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-family: "Ysabeau SC", serif;
        font-optical-sizing: auto;
        background: #fff;
        overflow: hidden;
    }

    navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    navbar ul li{
        margin: 1rem auto;
    }

    navbar ul li a{
        font-size: 2rem;
    }
}

/* Responsive review section - Home Page */
@media only screen and (max-width:480px){

    .reviews-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .reviews-section div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}